{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}

{% block content %}


        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-light">
                <img src="{{ user.profile_picture.url }}" class='profile-pic' alt="Profile picture">
            </button>
            <span class="name mt-3">{{ user.first_name }} {{ user.last_name }}</span>
            <span class="idd">@{{ user.username }}</span>
            <div class=" d-flex mt-2">
                <a class="btn btn-dark" href="{% url 'users:profile_edit' %}">Edit profile</a>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class=" px-2 rounded mt-4 date ">
                <span class="join">Joined {{ user.date_joined |date:"M d, Y" }}</span>
            </div>
        </div>


{% endblock content %}